body{
	background-color: #fff;
	margin: 0 auto;
}

header{
	background-color: #466995;
}
li {
	color: #fff;
	font-size: 14px;
}
li:hover{
	color: #fff;
}
.welcome{
	background-color: #DBE9EE;
  	box-sizing: border-box;
  	padding: 40px;
  	text-align: center;
  	width: 100%;
}